@model MobileShopConnection.DonHang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminMainLayout.cshtml";
}

<h2>Edit</h2>
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Sửa Sản Phẩm
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="@Url.Action("Index","SanPham")">Sản Phẩm</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Sửa Sản Phẩm
                </li>
            </ol>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>DonHang</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-2">Mã Đơn Hãng</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MaDonHang, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.MaDonHang, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Mã Tài Khoản</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MaTK, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.MaTK, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Tình Trạng</label>
                        <div class="col-md-10">
                            @Html.DropDownList("MaTinhTrang", null, htmlAttributes: new { @class = "form-control"})
                            @Html.ValidationMessageFor(model => model.MaTinhTrang, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Ngày Thanh Toán</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NgayThanhToan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NgayThanhToan, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Bị Xóa</label>
                        <div class="col-md-10">
                            @Html.DropDownList("BiXoa", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.BiXoa, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <!-- /.row -->
</div>
