@model WebApplication1.Models.ViewModel.SanPhamViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="@Url.Action("Index","Home")"><img src="~/ShopOnline/img/logo.png"></a></h1>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="@Url.Action("Index", "GioHang")">Cart<i class="fa fa-shopping-cart"></i><span class="product-count">@ViewBag.SoLuong</span></a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End site branding area -->

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("Index", "Products")">Shop page</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <li><a href="@Url.Action("Index", "DashBoard",new { Area = "Admin"})">Admin Page</a></li>
                        }
                    }
                    <li><a href="@Url.Action("Index", "GioHang")">Cart</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Category
                            <span class="caret"></span>
                        </a>
                        @Html.Partial("_TypeProduct", WebApplication1.Models.Bus.LoaiBus.DanhSach())
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Featured Brands
                            <span class="caret"></span>
                        </a>
                        @Html.Partial("_FeaturedBrands", WebApplication1.Models.Bus.HangBus.DanhSach())
                    </li>
                    <li><a href="@Url.Action("Index","ThanhToan")">CheckOut</a></li>
                </ul>
            </div>
        </div>
    </div>
</div> <!-- End mainmenu area -->

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Search Products</h2>
                    @using (Html.BeginForm("Search", "Products", FormMethod.Post,new { @class = "form-inline"} ))
                    {
                        <div class="form-group">
                            <input type="text" class="form-control" name="keyword"/>
                            <button type="submit" class="btn btn-default"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                    }
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Products</h2>
                    <div class="thubmnail-recent">
                        <img src="~/ShopOnline/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="~/ShopOnline/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="~/ShopOnline/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="~/ShopOnline/img/product-thumb-1.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Sony Smart TV - 2015</a></h2>
                        <div class="product-sidebar-price">
                            <ins>$700.00</ins> <del>$100.00</del>
                        </div>
                    </div>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Recent Posts</h2>
                    <ul>
                        <li><a href="">Sony Smart TV - 2015</a></li>
                        <li><a href="">Sony Smart TV - 2015</a></li>
                        <li><a href="">Sony Smart TV - 2015</a></li>
                        <li><a href="">Sony Smart TV - 2015</a></li>
                        <li><a href="">Sony Smart TV - 2015</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="@Url.Action("Index","Products")">Shop Page</a>
                        <a href="@Url.Action("Type","Products",new { id = Model.LoaiSP.MaLoai })">@Model.LoaiSP.TenLoai</a>
                        <a href="@Url.Action("Producer","Products",new { id = Model.HangSP.MaHang })">@Model.HangSP.TenHang</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="~/ShopOnline/img/@Model.SanPham.HinhAnh" alt="">
                                </div>

                                <div class="product-gallery">
                                    <img src="~/ShopOnline/img/product-thumb-1.jpg" alt="">
                                    <img src="~/ShopOnline/img/product-thumb-2.jpg" alt="">
                                    <img src="~/ShopOnline/img/product-thumb-3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">@Model.SanPham.TenSP</h2>
                                <div class="product-inner-price">
                                    <ins>@string.Format("{0:N0}", Model.SanPham.GiaBan) đ</ins>
                                </div>
                                @using (Html.BeginForm("Them", "GioHang", FormMethod.Post))
                                {
                                    @Html.Hidden("MaSanPham",Model.SanPham.MaSP)
                                    <button class="add_to_cart_button" type="submit">Add to cart</button>
                                }
                                <div class="product-inner-category">
                                    <p>Category: <a href="">Summer</a>. Tags: <a href="">awesome</a>, <a href="">best</a>, <a href="">sale</a>, <a href="">shoes</a>. </p>
                                </div>

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Chi Tiết</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Bình Luận</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Chi Tiết</h2>
                                            @Html.Raw(Model.SanPham.ChiTiet)
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <div class="submit-review">
                                                @if(@User.Identity.IsAuthenticated)
                                                {
                                                    <p><label for="review">Bình Luận Của Bạn</label> <textarea id="NoiDung" cols="30" rows="10"></textarea></p>
                                                    <p><input type="button" value="Submit" onclick="posComment()"></p>
                                                }
                                                else
                                                {
                                                    <p>Vui Lòng Đăng Nhập Để Bình Luận</p>
                                                }
                                                <h2>Bình Luận</h2>
                                                <div id="comment-box">
                                                    @foreach (var item in Model.BinhLuanSP)
                                                    {
                                                        <div id="comment">
                                                            <div class="comment-name">@item.TenTaiKhoan</div>
                                                            <div class="comment-content">@item.NoiDung</div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


<div class="footer-top-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-about-us">
                    <h2>u<span>Stora</span></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?</p>
                    <div class="footer-social">
                        <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">User Navigation </h2>
                    <ul>
                        <li><a href="">My account</a></li>
                        <li><a href="">Order history</a></li>
                        <li><a href="">Wishlist</a></li>
                        <li><a href="">Vendor contact</a></li>
                        <li><a href="">Front page</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    <h2 class="footer-wid-title">Categories</h2>
                    <ul>
                        <li><a href="">Mobile Phone</a></li>
                        <li><a href="">Home accesseries</a></li>
                        <li><a href="">LED TV</a></li>
                        <li><a href="">Computer</a></li>
                        <li><a href="">Gadets</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-newsletter">
                    <h2 class="footer-wid-title">Newsletter</h2>
                    <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                    <div class="newsletter-form">
                        <input type="email" placeholder="Type your email">
                        <input type="submit" value="Subscribe">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="copyright">
                    <p>&copy; 2015 uCommerce. All Rights Reserved. <a href="http://www.freshdesignweb.com" target="_blank">freshDesignweb.com</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footer-card-icon">
                    <i class="fa fa-cc-discover"></i>
                    <i class="fa fa-cc-mastercard"></i>
                    <i class="fa fa-cc-paypal"></i>
                    <i class="fa fa-cc-visa"></i>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        function posComment() {
            const NoiDung = $("#NoiDung").val();
            const MaSP = @Model.SanPham.MaSP;
            const TenTaiKhoan = "@User.Identity.Name";
            $.post("/api/BinhLuanApi", {"MaSanPham":MaSP, "NoiDung":NoiDung}, function(data){
                $("#comment-box").prepend("<div id=\"comment\"><div class=\"comment-name\">"+TenTaiKhoan+"</div><div class=\"comment-content\">"+NoiDung+"</div></div>");
                $("#NoiDung").val(""); //reset text form after post comment --Thien.Tran update this--
            });
        }
    </script>
}
<!-- Latest jQuery form server -->
<script src="https://code.jquery.com/jquery.min.js"></script>

<!-- Bootstrap JS form CDN -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- jQuery sticky menu -->
<script src="~/ShopOnline/js/owl.carousel.min.js"></script>
<script src="~/ShopOnline/js/jquery.sticky.js"></script>

<!-- jQuery easing -->
<script src="~/ShopOnline/js/jquery.easing.1.3.min.js"></script>

<!-- Main Script -->
<script src="~/ShopOnline/js/main.js"></script>




